<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>CAMPUS_WEB_APP</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>host</param-name>
		<param-value>25</param-value>
	</context-param>
	<context-param>
		<param-name>user</param-name>
		<param-value>25</param-value>
	</context-param>
	<listener>
		<listener-class>com.genesiis.campus.util.SessionCounterListener</listener-class>
	</listener>

	<servlet>
		<description></description>
		<display-name>PublicController</display-name>
		<servlet-name>PublicController</servlet-name>
		<servlet-class>com.genesiis.campus.publicController.PublicController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicController</servlet-name>
		<url-pattern>/PublicController</url-pattern>
	</servlet-mapping>


	<servlet>
	<description></description>
		<display-name>CampusController</display-name>
		<servlet-name>CampusController</servlet-name>
		<servlet-class>com.genesiis.campus.controller.CampusController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CampusController</servlet-name>
		<url-pattern>/CampusController</url-pattern>
	</servlet-mapping>

<servlet>
		<description></description>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>com.genesiis.campus.loginController.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>


	<filter>
		<filter-name>NoCacheFilter</filter-name>
		<filter-class>com.genesiis.campus.loginController.NoCacheFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>NoCacheFilter</filter-name>
		<url-pattern>/NoCacheFilter</url-pattern>
	</filter-mapping>
</web-app>