# Sample .gitignore file.  Put it into the project folder
# this file is for eclipse projects

# eclipse project settings and everything underneath.
# trailing / matches directory and all under it
# but will not match a regular file or symlink
.settings/

# match the following eclipse project files specifically
.classpath
.project

# ignore build directory
build/
build/**

# ignore all the .class files
**/*.class

#ignore the .metadata workspace directory
.metadata/

#ignore svn
.svn/

#ignore svn repo switcher
switch.bat

#ignore local properties
build.properties

#ignore the .org files
*/.orig
/.orig
.orig

#ignore the .gitignore files
.gitignore

#ignore the .idea workspace directory
.idea/