<!-- 20161027 TR c11 start styling courses filter result page -->
<!-- 20161027 TR c11 styling all category selections -->

<div class="courses-screen clearfix">
    <!-- Page Inner Header -->
    <div class="inner-header center-block">
        <div class="main-topic">
            <h1>Choose your path</h1>
        </div>
        <div class="right-corner">
            <div class="sort-box">

            </div>
        </div>
    </div>

    <!-- Filtering Area Container -->
    <div class="filter-area clearfix">
        <div class="category-panel">
            <h1 class="page-topic-t1">| All Courses </h1>
            <!-- All Category -->
            <div class="all-category">
                <!-- 1st Category - All -->
                <div class="filter-item clearfix">
                    <!-- Drop item header -->
                    <div  class="item-header">
                        <label slide-toggle="#dropItem1">All <span>- 100</span></label>
                        <a href="javascript:"><input type="checkbox"></a>
                    </div>
                    <!-- Item Drop list -->
                    <div id="dropItem1" class="item-container slideable">
                        <div class="select-item row-fluid">
                            <a href="javascript:"><input type="checkbox"></a>
                            <label>Pre Education</label>
                        </div>
                        <div class="select-item row-fluid">
                            <a href="javascript:"><input type="checkbox"></a>
                            <label>School Education</label>
                        </div>
                        <div class="select-item row-fluid">
                            <a href="javascript:"><input type="checkbox"></a>
                            <label>Higher Education</label>
                        </div>
                        <div class="select-item row-fluid">
                            <a href="javascript:"><input type="checkbox"></a>
                            <label>Corporate Education</label>
                        </div>
                        <div class="select-item row-fluid">
                            <a href="javascript:"><input type="checkbox"></a>
                            <label>Vocational Training</label>
                        </div>
                        <div class="select-item row-fluid">
                            <a href="javascript:"><input type="checkbox"></a>
                            <label>Talent & Skill</label>
                        </div>
                    </div>
                </div>

                <!-- 2nd Category - Major -->
                <div class="filter-item clearfix">
                    <!-- Drop item header -->
                    <div  class="item-header">
                        <label slide-toggle="#dropItem2">Major <span>- 02</span></label>
                        <a href="javascript:"><input type="checkbox"></a>
                    </div>
                    <!-- Item Drop list -->
                    <div id="dropItem2" class="item-container slideable">
                        <div class="select-item row-fluid">
                            <a href="javascript:"><input type="checkbox"></a>
                            <label>Engineering</label>
                        </div>
                        <div class="select-item row-fluid">
                            <a href="javascript:"><input type="checkbox"></a>
                            <label>Arts</label>
                        </div>
                    </div>
                </div>

                <!-- 2nd Category - Major -->
                <div class="filter-item clearfix">
                    <!-- Drop item header -->
                    <div  class="item-header">
                        <label slide-toggle="#dropItem3">Levels <span>- 08</span></label>
                        <a href="javascript:"><input type="checkbox"></a>
                    </div>
                    <!-- Item Drop list -->
                    <div id="dropItem3" class="item-container slideable">
                        <div class="select-item row-fluid">
                            <a href="javascript:"><input type="checkbox"></a>
                            <label>Degree</label>
                        </div>
                        <div class="select-item row-fluid">
                            <a href="javascript:"><input type="checkbox"></a>
                            <label>PHD</label>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End All category -->
        </div>
        <div class="result-panel">
            Results
        </div>
    </div>
</div>