/* Base */
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
@import 'https://fonts.googleapis.com/css?family=Raleway';
@import 'https://fonts.googleapis.com/css?family=Julius+Sans+One|Raleway';
@import 'https://fonts.googleapis.com/css?family=Julius+Sans+One|Raleway|Slabo+27px';
@import 'https://fonts.googleapis.com/css?family=Roboto';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea:focus, input:focus {
  outline: none; }

*:focus {
  outline: none; }

*,
*:after,
*:before {
  box-sizing: border-box; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0; }
  .clearfix:after {
    clear: both; }

.colr-white {
  color: white; }

/*Font Face */
/* Layout */
footer .ft-top {
  display: block;
  height: 175px;
  width: 100%;
  background: #193949; }
footer .ft-bottom {
  display: block;
  width: 100%;
  height: 50px;
  background: #092a3b; }
  footer .ft-bottom label {
    font-size: 18px;
    line-height: 50px;
    color: #d6d6d6; }

.header {
  top: 0;
  left: 0;
  padding: 0;
  display: block;
  position: relative;
  background: #37474f;
  height: 100%;
  z-index: 99; }
  .header .top {
    display: block;
    position: relative;
    height: 150px; }
    .header .top .logo-brand {
      position: absolute;
      vertical-align: middle;
      top: 37%;
      left: 3%; }
      .header .top .logo-brand .logo-txt {
        font-size: 35px;
        font-weight: 600;
        font-family: Orbitron;
        color: #fff; }
  .header .bottom {
    display: block;
    position: relative; }
    .header .bottom .menu-bar {
      display: block;
      position: relative;
      height: 100px;
      width: 100%;
      background: #2f66c1; }
      .header .bottom .menu-bar .home {
        display: inline-block;
        position: relative;
        width: 115px;
        height: 100%;
        padding-top: 20px; }
      .header .bottom .menu-bar .menu-tabs {
        display: inline-block;
        position: relative;
        width: calc(83% - 115px);
        height: 100%; }
        .header .bottom .menu-bar .menu-tabs .top-menus {
          color: #fff;
          font-family: Oswald;
          font-size: 18px;
          width: 100%;
          height: 50%;
          display: block;
          padding: 20px 20px 0 20px; }
          .header .bottom .menu-bar .menu-tabs .top-menus li {
            padding-right: 16px;
            padding-left: 16px; }
          .header .bottom .menu-bar .menu-tabs .top-menus:nth-child(1) {
            padding-left: 0; }
          .header .bottom .menu-bar .menu-tabs .top-menus li > a {
            color: #fff; }
            .header .bottom .menu-bar .menu-tabs .top-menus li > a:hover {
              color: #85d0fd; }
        .header .bottom .menu-bar .menu-tabs .bottom-menus {
          display: block;
          width: 100%;
          height: 50%;
          font-size: 18px;
          color: #fff;
          padding: 15px 20px 0 20px; }
          .header .bottom .menu-bar .menu-tabs .bottom-menus li {
            padding-right: 16px;
            padding-left: 16px; }
          .header .bottom .menu-bar .menu-tabs .bottom-menus:nth-child(2) {
            padding-left: 0; }
          .header .bottom .menu-bar .menu-tabs .bottom-menus li > a {
            color: #fff; }
            .header .bottom .menu-bar .menu-tabs .bottom-menus li > a:hover {
              color: #85d0fd; }
      .header .bottom .menu-bar .keyword-search {
        display: inline-block;
        width: 17%;
        height: 100%; }

body, html {
  font-family: "Raleway", sans-serif; }
  body a, html a {
    text-decoration: none; }
    body a:hover, body a:focus, body a.active, html a:hover, html a:focus, html a.active {
      text-decoration: none !important; }

.main-screen {
  display: block;
  position: relative; }
  .main-screen .content-panel {
    display: inline-block;
    position: relative;
    width: 83%; }
    .main-screen .content-panel .main-slider {
      display: block;
      position: relative;
      width: 100%; }
      .main-screen .content-panel .main-slider img {
        width: 100%; }
    .main-screen .content-panel .search-area {
      display: block;
      position: relative; }
      .main-screen .content-panel .search-area .main-search-bar {
        display: block; }
        .main-screen .content-panel .search-area .main-search-bar .bar-holder {
          display: block;
          position: relative;
          top: -42px; }
          .main-screen .content-panel .search-area .main-search-bar .bar-holder input {
            width: 80%;
            line-height: 64px;
            border: 12px solid rgba(125, 125, 125, 0.5);
            font-size: 24px;
            color: #918a8a;
            padding-left: 30px; }
      .main-screen .content-panel .search-area .filter-boxes {
        display: block; }
        .main-screen .content-panel .search-area .filter-boxes .box-holder {
          width: 90%; }
          .main-screen .content-panel .search-area .filter-boxes .box-holder ul > li {
            width: 29.5%;
            background: rgba(225, 225, 225, 0.6);
            padding: 8px;
            margin-top: 20px;
            margin-right: 5.5%;
            transition: all 0.3s; }
            .main-screen .content-panel .search-area .filter-boxes .box-holder ul > li:hover {
              background: #508ef6; }
            .main-screen .content-panel .search-area .filter-boxes .box-holder ul > li:nth-child(3n) {
              margin-right: 0;
              float: right; }
            .main-screen .content-panel .search-area .filter-boxes .box-holder ul > li .category-box {
              background: #fff;
              display: block;
              width: 100%;
              font-family: "Slabo 27px", serif;
              padding-bottom: 20px; }
              .main-screen .content-panel .search-area .filter-boxes .box-holder ul > li .category-box .category-name {
                display: block;
                padding: 16px; }
                .main-screen .content-panel .search-area .filter-boxes .box-holder ul > li .category-box .category-name a {
                  font-size: 26px;
                  color: #818181;
                  font-family: "Slabo 27px", serif; }
              .main-screen .content-panel .search-area .filter-boxes .box-holder ul > li .category-box .course-info {
                display: block; }
                .main-screen .content-panel .search-area .filter-boxes .box-holder ul > li .category-box .course-info .image {
                  display: inline-block;
                  position: relative;
                  width: 46%; }
                  .main-screen .content-panel .search-area .filter-boxes .box-holder ul > li .category-box .course-info .image img {
                    width: 90%; }
                .main-screen .content-panel .search-area .filter-boxes .box-holder ul > li .category-box .course-info .description {
                  display: inline-block;
                  width: 54%;
                  position: relative;
                  font-size: 15px;
                  color: #919191;
                  line-height: 16px;
                  padding-right: 8px;
                  padding-left: 2px; }
                  .main-screen .content-panel .search-area .filter-boxes .box-holder ul > li .category-box .course-info .description a {
                    padding-top: 20px;
                    color: #3a74d6;
                    font-size: 16px; }
  .main-screen .banner-panel {
    width: 17%;
    display: inline-block;
    background: #37474f;
    position: relative;
    height: 1200px; }

/* Modules */
.btn-home {
  display: block;
  width: 54px;
  height: 54px;
  background: url("../i/icons.png");
  background-position: -32px -162px; }
