.clearfix
  *zoom: 1
  &:before,
  &:after
    display: table
    content: ""
    line-height: 0

  &:after
    clear: both

.colr-white
  color: white

.page-topic-t1
  font-family: 'Arvo', serif
  font-size: 30px
  color: #3a3b3c
  padding-bottom: 30px

