// 20161025 TR c1 start style header bottom part

.header
  top: 0
  left: 0
  padding: 0
  display: block
  position: relative
  background: #37474f
  height: 100%

  .top
    display: block
    position: relative
    height: 150px

    .logo-brand
      position: absolute
      vertical-align: middle
      top: 37%
      left: 3%

      .logo-txt
        font-size: 35px
        font-weight: 600
        font-family: Orbitron
        color: #fff

  .bottom
    display: block
    position: relative

    .menu-bar
      display: block
      position: relative
      height: 100px
      width: 100%
      background: #2f66c1

      .top
        color: #fff
        font-family: Oswald
        font-size: 18px
