// 20161025 TR c1 style
.main-screen
  //margin-top: 250px
  display: block
  position: relative

  .content-panel
    display: block
    position: relative

    .main-slider
      display: inline-block
      position: relative
      width: 83%

      img
        width: 100%

  .banner-panel
    width: 17%
    display: inline-block
    background: #37474f
    position: relative
    height: 500px
