// 20161025 TR c1

// Main view screen
.main-screen
  display: block
  position: relative

  // left side main content panel
  .content-panel
    display: inline-block
    position: relative
    width: 83%

    .main-slider
      display: block
      position: relative
      width: 100%

      img
        width: 100%

  // right side banner panel
  .banner-panel
    width: 17%
    display: inline-block
    background: #37474f
    position: relative
    height: 500px
